PORT=3000
NODE_ENV=development

# PostgreSQL
DB_USER=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=5432

# Session
SESSION_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_ALLOWED_DOMAIN=

# Google Sheets
CLIENT_CONFIG_FILE_ID=
GOOGLE_SERVICE_ACCOUNT_PATH=./service-account.json
GOOGLE_SERVICE_ACCOUNT_JSON=

# App
BACKEND_BASE_URL=http://localhost:3000
FRONTEND_BASE_URL=http://localhost:5173
